form(ng-controller="ctrlMain")
  include material_name
  include material_width
  include non-working_area
  include trim_offset
  include printing
  include action
  if (process.env.NODE_ENV !== "production")
    include debug
