form(ng-controller="ctrlMain")
  include material_name
  include material_width
  include non-working_area
  include trim_offset 
  include advanced_options
  include printing
  include action
  include report_summary
  if (process.env.NODE_ENV !== "production")
    include debug
