extends common
block vars
  - var moreClasses = "iml-section--widths"
block body
  div {{t.labels.materialWidth}}
    input(type="text",
      ng-model="widths",
      disabled)
    span {{t.commons.mm}}
  iml-widths(ng-model="material")
