extends common
block vars
  - var moreClasses = ""
block body
  .iml-input-group
    .grid-label.x4
      span {{t.labels.materialName}}
    .grid-input.x8
      select(iml-select2, items="materials", active-item="material", update="setAppData")
  div(ng-bind="material.label")
