extends common
block vars
  - var moreClasses = ""
block body
  .section-label {{t.labels.materialName}}
  .section-control
    select(iml-select2, items="materials", active-item="material", update="setAppData")
    div(ng-bind="material.label")
