extends common
block vars
  - var moreClasses = ""
block body
  div {{t.labels.nonWorkingArea}}
  input(
    type="number"
    min="0"
    ng-model="nonWorkingArea"
    name="nonWorkingArea")
  span {{t.commons.mm}}
